body, html {
    background: #000;
    padding: 0px;
    margin: 0px;
    width:100%;
    height: 100%;


    font-family: HelveticaNeue-Light;
    font-style:   normal;
    font-weight:  200;
    color: #fff;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

@-ms-viewport{
    width: device-width;
}

.new-shop input{
    width: 100%;
    font-size: 16px;
    margin: 0 5px;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-shop input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 10px;
    font-size: 1em;
    color: #ffffff;
}

.new-shop input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.delete {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: white;
    float: right;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    margin-top: -10px;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-top: #eee solid 1px;
    padding-right: 0;
}

li .text {
    margin-left: 10px;
    display: inline-block;
}

li .text::first-letter {
    text-transform: uppercase;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li .toggle-checked {
    transform: scale(2);
}

.toggle-new-event {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    font-size: 1em;
    padding: 10px 10px 10px 0;
    width: 100%;
    margin: 0 5px;
    color: #888;
    text-align: left;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.new-event input, .new-event select{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    font-size: 1em;
    padding: 10px 10px 10px 0;
    width: 100%;
    margin: 0 5px;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
}

label {
    color: #ccc;
    font-size: 0.7em;
    margin: 0 5px;
    width: 100%;
    display: inline-block;
}

.event div div {
    display: inline-block;
}
.container.events li {
    padding-left: 5px;
}
.event {
    border-left: 6px solid white;
    margin: 8px 0;
    padding-left: 10px;
}
.event div.starttime, .event div.endtime {
    font-size: 0.7em;
    width: 20%;
}
.event div.title, .event div.place {
    position: absolute;
    width: 61%;
}

select[name="day"], select[name="month"], select[name="year"] {
    display: inline-block;
    width: 29%;
}

select[name="starthour"], select[name="startmin"], select[name="endhour"], select[name="endmin"] {
    width: 55px;
}

.start-time, .end-time {
    display: inline-block;
    width: 49%;
}

li.event-group {
    border-top: medium none;
    padding-top: 0;
}

.date {
    display: block;
    margin-bottom: 8px;
    margin-top: -8px;
}

@media (min-width: 768px) {
    .mobile-only{
        display: none;
    }

    .container.shops, .container.events{
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    .container.shops {
        margin-left: 1%;
    }
    .container.events {
        margin-left: 38%;
    }
    .event div.title, .event div.place {
        width: 87%;
    }
    .event div.starttime, .event div.endtime {
        font-size: 0.7em;
        width: 20%;
    }
    .event div.title, .event div.place {
        width: 80%;
    }
}


@font-face {
    font-family: HelveticaNeue-Light;
    src: url('/font/HelveticaNeue-Light.eot'); /* IE9 Compat Modes */
    src: url('/font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/font/HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */
    url('/font/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/font/HelveticaNeue-Light.svg#7384ecabcada72f0e077cd45d8e1c705') format('svg'); /* Legacy iOS */
    font-style:   normal;
    font-weight:  200;
}

/*


body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}


*/

